.main {
    h3 {
        margin-bottom: rem(5px);
    }
    
    input{
        padding: rem(5px) rem(1px);
        border: rem(1px) solid  #c710ce;
        background-color: #ffffff;
        border-radius: rem(10px);
    }
}