.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f2632;
    color: #ffffff;
}

.adviceBox {
    background-color: #323a49;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #52ffa8;
    margin-bottom: 20px;
}

.adviceText {
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    position: relative;
    background-color: #52ffa8;
    border: none;
    border-radius: 50%;
    left: -222px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

img {
    position: relative;
    bottom: -3px;
}

.pattern {
    position: relative;
    left: 26px;
    bottom: 5px;
}

.button:hover {
    background-color: #ffffff;
}
