body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: min-content;
    background-image: url(sfondo6.jpg);
    background-repeat: no-repeat;
    background-position: right 145px top 40px;
}

.container {
    margin-bottom: 500px;
    background-color: #f7f9fc;
    color: #333;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    min-height: 550px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.526) 1px;
}

.formContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formContainer label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.formContainer input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.formContainer input:focus {
    border-color: #007bff;
}

.formContainer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formContainer button:hover {
    background-color: #0056b3;
}

.pokemonContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-height: 180px; 
    overflow-y: auto; 
}

.pokemonContainer input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.pokemonContainer input:focus {
    border-color: #007bff;
}

.pokemonContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemonContainer ul li {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.pokemonContainer ul li:hover {
    background-color: #e9ecef;
}

.pokemonContainer ul li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pokemonContainer ul li button:hover {
    background-color: #c82333;
}

.logo {
    margin-left: 150px;
    width: 200px;
}

.containerlogo {
    margin-bottom: 230px;
}

.pokemon {
    list-style: none;
    border: 1px solid #ddd;
    padding: 10px;
}

.filtro {
    position: relative;
    bottom: 15px;
    margin-left: 130px;
    height: 25px;
}
