.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b4b1b182;
}

.calculator {
  width: 400px;
  background-color: #765961e4;
  border-radius: 10px;
  padding: 20px;
}
