@mixin window-style($width: 100%) {
    width: $width;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

@mixin standard-animation($duration: 0.2s) {
    -webkit-transition: all $duration ease-in-out;
    -o-transition: all $duration ease-in-out;
    transition: all $duration ease-in-out;
}

@mixin button-login-style {
    background-color: #610a47; 
    color: white; 
    width: 120px; 
    height: 40px; 
    border: 2px solid #c710ce; 
    border-radius: 10px; 
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

