@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "./default/index.scss";

:root{
  --primay: #270b0b;
  --color-0: #cbc5c5;
  --color-20: #FFFAF0; 
  --color-80: #B56576;
  --color-100: #6D597A; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Montserrat;
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
  background: linear-gradient(to right, #756878, #513b58, #130114);
}

a {
  color: inherit;
  text-decoration: none;
}
